body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #0000bb;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #0000bb;
}
a:hover {
  color: #0000bb;
  text-decoration: underline;
}
a:active {
  color: #0000bb;
}